{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
<div class="card col-4 text-bg-warning mb-3">
  <div class="card-header">
    Подать заявку на конкурс
  </div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button button_type="submit" content="Отправить" %}
    </form>
  </div>
</div>
  {% if form.is_valid %}
    <h2>Рецепт мороженого "{{ request.POST.title }}" принят на конкурс!</h2>
  {% endif %}
{% endblock %}
